* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
    "cont1 cont2"
    "cont3 cont4"
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;

}
.content1 {
    grid-area: cont1;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: turquoise;

}
.content2 {
    grid-area: cont2;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}
.content3 {
    grid-area: cont3;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
}
.content4 {
    grid-area: cont4;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: yellow;
}
