body{
    font-family:  Arial, Helvetica, sans-serif;
    font-size:  18px;
    font-color:  maroon;
}

.navbar{
    height:  150px;
    width: 150px;
    background-color: maroon;
    top: 50%;
    position:  relative  
}



.box {
    height:  150px;
    width: 150px;
    background-color: whitesmoke;
    top: 50%;
    position:  relative

}
.child{
    position:  relative

}
.parent{
    height: 150px;

}