* {
    box-sizing: border-box; 
    
}         

body {
    block-size: 300px;
    background-color:  antiquewhite; 

}
#allBoxes {
    margin-left: 200px;
    margin-right: 200px;
   
}
.boxLightPink {
    display: inline-block;
    background-color: #F5C6D6;
    height: 125px;
    width: 99.5%;
    position: 100% Center;
    border: solid white;

}
.boxDarkPink {
    display: inline-block;
    background-color: #EE2E84;
    height: 125px;
    width: 24.5%;
    border: solid white;
}
.boxLightBlue {
    display: inline-block;    
    background-color: #85CFD8;
    height: 125px;
    width: 49.5%;
    border: solid white;
}
.boxLightGreen {
    display: inline-block;
    background-color: #8DC63F;
    height: 125px;
    width: 74.5%;
    border: solid white;
}
.boxOrange {
    display: inline-block;
    background-color: #E76E34;
    height: 125px;
    width: 24.5%;
    border: solid white;
}

