.boxes {
    background-color: burlywood;
    opacity: .80;
    padding: 50px;
    color: black;
    width: 30%;
    margin: 5px;
    filter: alpha(opacity=80);
    border: solid 1px black;
    border-radius: 12px;
    border-radius: 12px;
    border-radius: 12px;
    border-top: black 1px solid;
    border-left: black 3px solid;
    border-right: black 3px solid;
    border-bottom: black 5px solid;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
 }
 h2 {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px;

 }
 @media(max-width: 900px) {
    .boxes {
        min-width: 300px; 
    }
 }