* {
    box-sizing: border-box;
    margin: 0;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
} 
  