/*MAIN CSS */

* {
    box-sizing: border-box;
    margin: 0;
} 
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
 
 .All {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    /* height: 100vh; */
    align-content: center;
    
    margin: 0;
    vertical-align: 0;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Architects Daughter', cursive;
}
h1 {
    font-size: 30px;
    /* text-align: bottom;
    align-content: bottom;
    vertical-align: bottom; */
    background-position: bottom;

}