/*MAIN CSS */

* {
    box-sizing: border-box;
    margin: 0;
} 
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
 
 .All {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    /* height: 100vh; */
    align-content: center;
    
    margin: 0;
    vertical-align: 0;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Architects Daughter', cursive;
}
h1 {
    font-size: 30px;
    /* text-align: bottom;
    align-content: bottom;
    vertical-align: bottom; */
    background-position: bottom;

}
 .Recipes {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start; 
    align-content: center;
    background-image: url("../images/kitchen-cookbook.jpeg");
    border-color: black;
    background-size: 112%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    /* text-justify: center; */
    width: 315px;
    height: 300px;
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 40px;
 }

 .MyPantry {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    background-image: url("../images/pantry4.jpeg");
    border-color: black;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    /* text-justify: center; */
    width: 315px;
    height: 300px;
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 40px;
    
}
.Receipts {
    display: flex;
    flex-wrap: nowrap;
    align-self: right;
    align-content: right;
    background-image: url("../images/receipts1.jpeg");
    border-color: black;
    background-size: 160%;
    background-position: left;
    background-repeat: no-repeat;
    align-items: center;
    /* text-justify: center; */
    width: 315px;
    height: 300px;
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 40px;
}

 